#
#   .gitignore
# -----------------------------------------------------------------------------
#   GitIgnore file
#
#

#
#   Office and other temp files
# -----------------------------------------------------------------------------
~*.*

#
#   Common files for ignore:
# -----------------------------------------------------------------------------
*.cache
*.class
*.exe
*.dll

!**/Libraries/*.dll

#
#   Visual Studio
# -----------------------------------------------------------------------------
**/bin/*
**/obj/*
**/App_Data/
**/Debug/
**/obj/
*.suo
*.pdb
*.FileListAbsolute.txt

#
#   Android
# -----------------------------------------------------------------------------
*/bin/
.metadata/

*.apk
*.ap_

#
#   Spec.:
# -----------------------------------------------------------------------------
.legacy/
/work/
/Deploy/

# EOF
